h1 {
  margin-top: 50px;
  margin-bottom: 50px;

  margin-left: 5%;
}
h2 {
  padding-top: 25px;
  text-align: center;
}

.add-company-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 75vh; */
}

.add-company-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.add-company-form-container input {
  width: 100%;
  padding: 2px;
  margin-bottom: 10px;
}

.add-company-form-container button {
  padding: 2px;
  margin-top: 10px;
  cursor: pointer;
}

.add-company-form-container label {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.add-deal-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 75vh; */
}

.add-deal-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.add-deal-form-container input {
  width: 100%;
  padding: 2px;
  margin-bottom: 10px;
}

.add-deal-form-container button {
  padding: 2px;
  margin-top: 10px;
  cursor: pointer;
}

.add-deal-form-container label {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.add-company-button {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.add-company-button:hover {
  background-color: #0056b3;
}

/* companies */
img {
  height: 50px;
  width: 50px;
  border-radius: 40px;
  margin-right: 10px;
}

.nav-tabs .nav-link.active {
  background-color: rgba(
    204,
    85,
    0,
    1
  ); /* Change this to your desired color for the active tab */
  color: #fff; /* Change this to your desired text color for the active tab */
  border-color: black; /* Change this to your desired border color for the active tab */
}

.form-control {
  height: 100%;
}
table {
  margin-top: 10px;
}

.companiesView {
  background-color: rgba(200, 200, 200, 1);
}
.company-details {
  background-color: rgba(200, 200, 200, 1);
  text-align: center;
}

.company-details-img {
  margin-top: 10px;
}
.companiesForm {
  background-color: rgba(200, 200, 200, 1);
  padding: 50px;
  padding-top: 100px;
}
.tabsClass {
  background-color: rgba(200, 200, 200, 1);
}
.formActions {
  display: flex;
  justify-content: space-between;
}
.add-company-button,
.add-deal-button,
.addCompanyBtn {
  padding: 10px;
  font-weight: bold;
  background-color: rgba(204, 85, 0, 1);
}

.back-button {
  padding: 5px;
  font-weight: bold;
  background-color: rgba(204, 85, 0, 1);
  margin-top: 5px;
}

.delete-button {
  padding: 5px;
  font-weight: bold;
  background-color: rgba(204, 85, 0, 1);
  margin-top: 5px;
}

/* deals */
.dealsForm {
  /* background-color: rgba(200, 200, 200, 1); */
  padding: 50px;
}

.deal-details {
  background-color: rgba(200, 200, 200, 1);
  text-align: center;
}

/* navbar */
.navbar {
  background-color: rgba(204, 85, 0, 1);
  margin-bottom: 75px;
}

.navbar-brand {
  font-size: 40px;
  font-weight: bold;
  padding-left: 30px;
  text-decoration: none;
}

.nav-link,
.nav-item {
  font-size: 30px;
  color: black;
  font-weight: bold;
  padding-right: 30px;
  text-decoration: none;
}
.nav-item:hover {
  color: white;
}

.modal-footer {
  display: flex;
  justify-content: center;
}
